[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/pool-swap-ui-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/pool-swap-ui-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
